
.pagination-items {
    display: flex;
    gap: 5px;
    margin: 20px auto;
    padding: 0;
}
// @media only screen and(max-width:400px){
//     .pagination-items {
//         margin-left: -40px;
//     }
// }