@import "../../assets/scss/variables.scss";
.search-form {
    display: flex;
}
.search-form__input {
    background-color: #F4F4F4;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 0 10px;
    border: 0;
}
.search-icon__img {
    background-color: #FFBA9D;
    padding: 12px;
    border-radius: $radius-btn;
}
.search-form__button {
    padding: 0;
    border: 0;
    width: 40px;
    height: 40px;
}
@media only screen and(max-width:400px) {
    .search-form__input {
        padding: 0 30px;
    }
}
// @media only screen and(max-width:992px) {
//     .search-form {
//         margin-top: -50px;
//     }
// }
// @media only screen and(max-width:767px) {
//     .search-form {
//         margin-top: -250px;
//     }
// }